
@font-face {
    font-family: 'vt323regular';
    src: url('./fonts/vt323-regular-webfont.woff2') format('woff2'),
         url('./fonts/vt323-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
}

html {
    background-image: url('./images/darling-7655568_1920.jpg');
    background-size: cover;
    font-family: 'vt323regular', 'arial', 'sans-serif';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    text-shadow: 3px 3px 1px #000000;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#sidebar {
    border-right: 8px ridge #0045c5;
    width: 400px;
    margin: 0;
    padding: 20px 10px 10px 10px;
    background: #001764;
    background: -moz-linear-gradient(top, #006fee 0%, #00185c 100%);
    background: -webkit-linear-gradient(top, #006fee 0%, #00185c 100%);
    background: linear-gradient(top, #006fee 0%, #00185c 100%);  
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#outer-container {
    background: #001764;
    background: -moz-linear-gradient(left, #000713e0 0%, #001d6de8 75%, #003cff 100%);
    background: -webkit-linear-gradient(left, #000713e0 0%, #001d6de8 75%, #003cff 100%);
    background: linear-gradient(#000713e0 0%, #001d6de8 75%, #003cff 100%);
    width: 100%;
    height: 100%;
    padding: 20px 0px 0px 0px;
    margin: 0;
}

#title{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#splash-container {
    background: #001764;
    background: -moz-linear-gradient(top, #363892e8 0%, #6f64d1 40%, #9067a0 80%);
    background: -webkit-linear-gradient(top, #363892e8 0%, #6f64d1 40%, #9067a0 80%);
    background: linear-gradient(top, #363892e8 0%, #6f64d1 40%, #9067a0 80%);
    width: 100%;
    height: 100%;
}

#logo {
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    filter: drop-shadow(0px -1px 3px #ffe89e) drop-shadow(0px -10px 10px #fd9001f8) drop-shadow(0px -5px 40px #ff0b0bf6);
}

#grass {
    background-image: url("./images/grass-texture.png");
    height: 125px;
    position: relative;
    top: 48%;
}

#moon {
    position: relative;
    top: 10%;
    left: 60%;
}

#horse {
    position: relative;
    top: 50%;
    left: 10%;
}

#hearts {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

#todo-container {
    border: 8px outset #002d80;
    width: 800px;
    margin: auto;
    padding: 10px 20px 20px 20px;
    background: #001764;
    background: -moz-linear-gradient(-45deg, #001f42 0%, #0059ff 30%, #00266ebd 60%, #003de688 75%, #0010464f 100%);
    background: -webkit-linear-gradient(-45deg, #001f42 0%, #0059ff 30%, #00266ebd 60%, #003de688 75%, #0010464f 100%);
    background: linear-gradient(135deg, #001f42 0%, #0059ff 30%, #00266ebd 60%, #003de688 75%, #00104600 100%);
}

#todo-header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-bottom: 10px;
    justify-content: center;
}

.header-item {
    border: 6px outset #0046c9;
    padding: 5px;
    background: #001764;
    background: -moz-linear-gradient(-50deg, #0772ff 0%, #001f75 75%, #0772ff 100%);
    background: -webkit-linear-gradient(-50deg, #0772ff 0%,#001f75 75%, #0772ff 100%);
    background: linear-gradient(130deg, #0772ff 0%, #002488 50%, #0772ff 100%);
}

#inner-container {
    border-top: 5px groove #002463;
    border-left: 5px groove #002463;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#list-items-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#todo-item-container {
    width: 100%;
    height: 100%;
    padding: 5px;
}

#maximized-todo {
    border: 6px outset #0046c9;
    padding: 10px;
    background: #001764;
    background: -moz-linear-gradient(-50deg, #0772ff 0%, #001f75 75%, #0772ff 100%);
    background: -webkit-linear-gradient(-50deg, #0772ff 0%,#001f75 75%, #0772ff 100%);
    background: linear-gradient(130deg, #0772ff 0%, #002488 50%, #0772ff 100%);
}

#maximized-todo form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

#notes {
    border-top: 3px groove #002463;
    border-left: 3px groove #002463;
    height: 100px;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 6px outset #0046c9;
    padding: 10px;
    width: 250px;
    background: #001764;
    background: -moz-linear-gradient(-50deg, #0772ff 0%, #001f75 75%, #0772ff 100%);
    background: -webkit-linear-gradient(-50deg, #0772ff 0%,#001f75 75%, #0772ff 100%);
    background: linear-gradient(130deg, #0772ff 0%, #002488 50%, #0772ff 100%);
}

.list-item-text {
    font-size: 2.5rem;
    margin: 0;
}

.project-item {
    font-size: 1.5rem;
    margin: auto;
    margin-top:0;
    margin-bottom: 0;
}

.project-header {
    font-size: 2rem;
    text-align: center;
    width: 220px;
}


.header {
    color: #000835;
    text-shadow: 2px 2px 1px #0099ff, -1px -1px 1px #82d1ff;
    text-align: center;
    border: 6px outset #0057da;
    background: #001764;
    background: -moz-linear-gradient(-50deg, #006eff 0%, #0057c9 75%, #006eff 100%);
    background: -webkit-linear-gradient(-50deg, #006eff 0%,#0057c9 75%, #006eff 100%);
    background: linear-gradient(130deg, #006eff 0%, #0057c9 50%, #006eff 100%);
}

#completed {
    text-align: left;
}

#todo-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}